{% extends "base.html" %}
{% block title %}
Создание категории обучающих курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Создание категории</h1>
		<br>
		<br>
		<form method="post">
			<input type="text" name="name" placeholder="Название">
			<button type="submit">Сохранить и вернуться к списку категорий</button>
		</form>
	</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}