<div class="footer">
    <div class="action">
        <div class="action_content">
            <h3 class="scream_head_footer">Receive gifts</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, quibusdam.</p>
        </div>
    </div>
    <div class="contact">
        <ul class="contact_li">
            <li>A. Lorem ipsum dolor sit amet.</li>
            <li>T. +7 (495) 222-44-11</li>
            <li>E. xiaomi@russia.ru</li>
        </ul>
        <div class="copy">
            <p>&copy; {{data}} Все права защищены. </p>
        </div>
    </div>
</div>