<style type="text/css">
    * {
    margin: 0;
    padding: 0;
    }

    body {
        font-family: sans-serif;
    }

    .container {
        max-width: 1140px;
        min-width: 780px;
        margin: 0 auto;
    }
    .map {
        max-width: 1080px;
        min-width: 700px;
        margin: 0 auto;
    }

    .text {
        font-size: 16px;
        line-height: 26px;
        color: #1f3f68;
    }

    .text_contact_us {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: #1f3f68;
    }
    .scream_head_footer {
        font-size: 36px;
    }
    .mini_head {
        font-size: 20px;
        line-height: 30px;
        color: #1f3f68;
    }
    .header_site {
        margin: 0 auto;
        max-width: 1140px;
        min-width: 780px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .text_inf_tabl {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: #1f3f68;
    }

    .main_name {
        font-size: 64px;
        color: #1f3f68;
    }

    .main_n {
        margin-top: 50px;
        width: 510px;
    }

    .main_p {
        width: 425px;
    }

    .scream_head {
        font-size: 36px;
        text-align: center;
    }

    .scream_head_footer {
        font-size: 36px;
    }

    .mini_head {
        font-size: 20px;
        line-height: 30px;
        color: #1f3f68;
    }

    .title_page {
        height: 300px;
        margin: 0px 30px;
        box-sizing: border-box;
    }

    .content_contaiter {
        height: 600px;
        margin: 0px 30px;
        box-sizing: border-box;
    }

    .content {
        display: flex;
        justify-content: space-around;
        height: 500px;
        margin-top: 20px;
    }

    .part_content1,
    .part_content2,
    .part_content3 {
        border: 1px solid #1f3f68;
        background-color: rgb(241, 240, 240);
        border-radius: 10px;
        box-sizing: border-box;
        width: 359px;
        height: 450px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 200px;
        padding-left: 20px;
        padding-right: 50px;
    }

    .information_tablet {
        height: 100px;
        margin: 10px 30px;
        box-sizing: border-box;
    }

    .footer {
        max-width: 1140px;
        min-width: 780px;
        margin: 0 auto;
        height: 520px;
        box-sizing: border-box;
    }

    .action_content {
        height: 300px;
        width: 495px;
        margin: 50px 0px;
    }

    .contact {
        text-align: center;
        height: 50px;
        margin-top: 10px;
        box-sizing: border-box;
    }

    .copy {
        text-align: center;
        margin-top: 25px;
        height: 25px;
    }

    .contact_information {
        height: 250px;
        margin: 50px 30px;
        padding-top: 10px;
    }

    .img img {
        width: 350px;
        border-radius: 10px;
    }

    .phone ul {
      list-style-type: none;
    }

    .contact_li {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        line-height: 30px;
        color: #1f3f68;
    }
    .map {
        height: 400px;
        margin: 0px 30px;
        box-sizing: border-box;
    }

    .link {
        list-style-type: none;
        text-decoration: underline;
        font-size: 16px;
        line-height: 30px;
        color: #1f3f68;
    }
    .button {
        text-decoration: none;
        background: #5a98d0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 3px;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }

    .send_massage {
        background-color: rgb(241, 240, 240);
        border-radius: 10px;
        width: 350px;
        height: 260px;
        margin-top: -220px;
        padding-top: 20px;
        padding-left: 35px;
        box-sizing: border-box;
        float: right;
    }

    .title {
        float: left;
        width: 160px;
        clear: left;
    }
</style>