<div class="container">
    <div class="contact_us">
        <h2 class="contact">Contact Us</h2>
        <p class="text_contact_us">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="contact_information">
        <div class="address">
            <h4 class="mini_head">Address:</h4>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="phone">
            <h4 class="mini_head">Phone:</h4>
            <ul>
                <li>+7 (495) 222-44-11</li>
                <li>+7 (499) 520-30-10</li>
            </ul>
        </div>
        <div class="online_service">
            <h4 class="mini_head">Online service:</h4>
            <ul class="link">
                <li><a class="link" href="https://xiaomi-smarthome.ru/" target="_blank">Our website</a></li>
                <li><a class="link" href="mailto:xiaomi@russia.ru" target="_blank">Our mail</a></li>
            </ul>
        </div>
        <div class="send_massage">
            <form action="" method="post" style="width: 275px;">
                <fieldset>
                    <legend>Отправьте нам сообщение:</legend>
                    <p>
                        <label class="title" for="name">Имя:</label><br />
                        <input type="text" name="name" id="name" placeholder="Yuriy" size="34"><br />
                        <label class="title" for="email">Email:</label><br />
                        <input type="text" name="email" id="email" placeholder="mail@mail.ru" size="34"><br />
                        <label for="message">Сообщение:</label>
                        <textarea name="message" id="message"
                                  cols="31" rows="5"
                                  placeholder="Напишите свое сообщение..."></textarea>
                    </p>
                    <div class="sub_but"><input type="submit" value="Отправить" /></div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af5a92a00811618e39e2260709b74a01bea2fb75ca518ce38f28d3315402ed624&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>