<div class="container">
    <div class="title_page">
            <div class="main_n">
                <h1 class="main_name">Xiaomi <br> smart home</h1>
            </div>
            <div class="main_p">
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, vel!</p>
            </div>
    </div>
    <div class="content_contaiter">
        <h3 class="scream_head">Cheap, practical, progressive!</h3>
        <div class="content">
            <div class="part_content1">
                <h4 class="mini_head">Dive into the future</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis earum ab, libero possimus voluptates modi!</p>
            </div>
            <div class="part_content2">
                <h4 class="mini_head">Dive into the future</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis earum ab, libero possimus voluptates modi!</p>
            </div>
            <div class="part_content3">
                <h4 class="mini_head">Dive into the future</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis earum ab, libero possimus voluptates modi!</p>
            </div>
        </div>
    </div>
    <div class="information_tablet">
        <h3 class="scream_head">Order today</h3>
        <p class="text_inf_tabl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, maiores.</p>
    </div>
</div>